<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title> -WebApplication4 </title>
    <style>
        body {
            color: 0000;
            font-size: 16px;
        }

        .main {
            margin: auto;
            width: 800px;
        }

        .info span {
            font-weight: 800;
            margin-left: 20px;
        }

        .salary {
            margin-top: 30px;
        }

        .note {
            margin-top: 20px;
            text-align: center;
            letter-spacing: 1.5px;
        }

        p {
            margin: 10px;
        }

        table,
        th,
        td {
            border: 1px solid;
        }

            td.value {
                text-align: right;
                font-weight: 800;
            }

        table {
            width: 100%;
            border-collapse: collapse;
        }
    </style>
</head>
  <body>
    <div class="main">
      <div style="text-align: center">
        <h3>CHI TIẾT LƯƠNG THÁNG %monthy</h3>
      </div>
      <div class="info">
        <p>Họ và tên nhân viên: <span>%ten_nv</span></p>
        <p>Mã nhân viên: <span>%ma_nv</span></p>
        <p>Chức vụ: <span>%ten_cv</span></p>
        <p>Bộ Phân: <span>%ten_bp</span></p>
      </div>
      <div class="salary">
        <table>
          <tr>
            <td colspan="4" style="font-weight: bold">
              <p>THÔNG TIN CHUNG</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Mức lương tính BHXH, BHYT</p>
            </td>
            <td class="value">
              <p>%tien_bh</p>
            </td>
            <td>
              <p>Mức lương tính BHTN</p>
            </td>
            <td class="value">
              <p>%tien_tn</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Số ngày làm việc</p>
            </td>
            <td class="value">
              <p>%tien_bh</p>
            </td>
            <td>
              <p>Số ngày nghỉ phép trong năm</p>
            </td>
            <td class="value">
              <p>%tien_tn</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Số ngày nghỉ không hưởng lương</p>
            </td>
            <td class="value">
              <p>%tien_bh</p>
            </td>
            <td>
              <p>Số ngày nghỉ phép còn lại</p>
            </td>
            <td class="value">
              <p>%tien_tn</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Thu nhập chịu thuế</p>
            </td>
            <td class="value">
              <p>%tien_bh</p>
            </td>
            <td>
              <p>Số người phụ thuộc</p>
            </td>
            <td class="value">
              <p>%tien_tn</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Thu nhập tính thuế</p>
            </td>
            <td class="value">
              <p>%tien_bh</p>
            </td>
            <td>
              <p>Giảm trừ bản thân & gia cảnh</p>
            </td>
            <td class="value">
              <p>%tien_tn</p>
            </td>
          </tr>
          <tr>
            <td colspan="4">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" style="font-weight: bold">
              <p>CÁC KHOẢN THU NHẬP (1)</p>
            </td>
            <td colspan="2" style="font-weight: bold">
              <p>CÁC KHOẢN TRỪ VÀO LƯƠNG (2)</p>
            </td>
          </tr>
          <tr>
            <td><p>Lương năng suất</p></td>
            <td class="value"><p>%luong_nang_suat</p></td>
            <td>
              <p>Bảo hiểm xả hội (8%)</p>
            </td>
            <td class="value">
              <p>%B01</p>
            </td>
          </tr>
          <tr>
            <td><p>Lương ngoài giờ</p></td>
            <td class="value"><p>%luong_nang_suat</p></td>
            <td>
              <p>Bảo hiểm y tế (1.5%)</p>
            </td>
            <td class="value">
              <p>%B01</p>
            </td>
          </tr>
          <tr>
            <td><p>Tiền ăn trưa</p></td>
            <td class="value"><p>%luong_nang_suat</p></td>
            <td>
              <p>Bảo hiểm thât nghiệp (1%)</p>
            </td>
            <td class="value">
              <p>%B01</p>
            </td>
          </tr>
          <tr>
            <td><p>Phụ cấp</p></td>
            <td class="value"><p>%luong_nang_suat</p></td>
            <td>
              <p>Thuế thu nhập cá nhân</p>
            </td>
            <td class="value">
              <p>%B01</p>
            </td>
          </tr>
          <tr>
            <td><p>Phụ cấp Đảng</p></td>
            <td class="value"><p>%luong_nang_suat</p></td>
            <td>
              <p>Đoàn phí</p>
            </td>
            <td class="value">
              <p>%B01</p>
            </td>
          </tr>
          <tr>
            <td><p>Phụ cấp Công Đoàn</p></td>
            <td class="value"><p>%luong_nang_suat</p></td>
            <td>
              <p>Đảng Phí</p>
            </td>
            <td class="value">
              <p>%B01</p>
            </td>
          </tr>
          <tr>
            <td><p>Phụ cấp CHQS</p></td>
            <td class="value"><p>%luong_nang_suat</p></td>
            <td>
              <p>Tiền điện thoại</p>
            </td>
            <td class="value">
              <p>%B01</p>
            </td>
          </tr>
          <tr>
            <td><p>Thu nhập khác</p></td>
            <td class="value"><p>%luong_nang_suat</p></td>
            <td>
              <p>Giảm trừ khác</p>
            </td>
            <td class="value">
              <p>%B01</p>
            </td>
          </tr>
          <tr>
            <td colspan="4">&nbsp;</td>
          </tr>
          <tr>
            <td style="font-weight: bold"><p>TỔNG THU NHẬP</p></td>
            <td class="value">
              <p>%G_tong_nhap</p>
            </td>
            <td style="font-weight: bold"><p>TỔNG KHẤU TRỪ</p></td>
            <td class="value">
              <p>%G_tong_trư</p>
            </td>
          </tr>
          <tr>
            <td colspan="1" style="font-weight: bold">
              <p>LƯƠNG THỰC NHẬP (1) - (2)</p>
            </td>
            <td colspan="3" class="value"><p>%z20</p></td>
          </tr>
        </table>
        <div class="note">
          <p>
            Mọi thắc mắc vui lòng liên hệ <strong>Ms.Thư(099xxxx)</strong> - Phòng
            Tổ chức hành chính
          </p>
          <p>Xin cám ơn !</p>
        </div>
      </div>
    </div>
  </body>
</html>
