<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title> -WebApplication4 </title>
    <style>
        body {
            font-size: 16px;
        }

        .main {
            margin: auto;
            width: 800px;
        }

        .note {
            margin-top: 20px;
            text-align: center;
            letter-spacing: 1.5px;
        }
    </style>
</head>
  <body>
    <div class="main">
    
        <div class="note">
            <p style="margin-bottom: 30px;">Không có dữ liệu. Vui lòng quay lại sau!</p>
          <p>
            Mọi thắc mắc vui lòng liên hệ <strong>Ms.Thư(sdt)</strong> - Phòng
            Tổ chức hành chính
          </p>
          <p>Xin cám ơn !</p>
        </div>
      </div>
    </div>
  </body>
</html>
